@tailwind base;
@tailwind components;
@tailwind utilities;



/*:root {
  font-family: judson;
  background-color: rgb(206, 206, 206);
}*/


@layer base {
  label {
    font-family: judson;
  }

  p {
    font-family: judson;
  }
 
}
  
